    * {
        padding: 0;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    html {
        width: 100%;
        max-width: 100%;
    }
    body
    {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        background-color: rgb(255, 162, 197);
    }   
    .logo-photo {
        width: 200px;
    }
    .container-text {
        background-color: #f8cafc;
    }
    .container-main {
        background-color: rgb(255, 162, 197);
        height: 100%;
        width: 100%;
    }
    .container-main-border-1 {
        text-align: right;
        margin: 100px;
        background-color: #f8cafc;
    }
    .container-main-border-2 {
        width: 50%;
        margin: 100px;
        background-color: #f8cafc;
        padding: 20px;
    }
    .container-main-border-3 {
        width: 50%;
        text-align: right;
        margin-left: 45%;
        padding: 20px;
        background-color: #f8cafc;
    }
    .container-main-border-4  {
        width: 85%;
        margin: 120px;
        padding: 30px;
        background-color: #f8cafc;
    }
    .text-name {
        font-size: 50px;
        color: rgb(150, 10, 64);
        margin-left: 30px;
    }
    .word-purple {
        color: rgb(199, 19, 94);
    }

    .text-welcome {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .text-about-cote {
        font-size: 18px;
        text-align: right;
    }
    .p-media {
        font-size: 50px;
        text-align: center;
        margin-bottom: 20px;
    }
    .p-rma {
        font-size: 30px;
    }
    .rec-sites {
        text-decoration: none;
        color: rgb(165, 28, 103);
        padding-left: 5%;
    }
    .dot {
        color: rgb(0, 0, 0);
        font-size: 15px;
        padding: 10px;
    }
    .text-rec {
	text-align: center;
        font-size: 30px;
        padding-bottom: 35px;
    }