* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -moz-user-select: none; 
    -khtml-user-select: none;
     user-select: none; 
}
html {
    width: 100%;
    max-width: 100%;
}
body
{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(255, 162, 197);
}
.logo-photo {
    width: 200px;
}
.text-name {
    font-size: 50px;
    color: rgb(150, 10, 64);
    margin-left: 30px;
}
.word-purple {
    color: rgb(199, 19, 94);
}
.container-text {
    background-color: #f8cafc;
}
.container-sections{
    width: 85%;
    margin: 100px;
    background-color: #f8cafc;
    padding: 20px;
}
.steps {
font-size: 25px;
padding-top: 20px;
padding-bottom: 20px;
color: rgb(255, 0, 98);
}
.name-pers {
 font-size: 30px;
color: rgb(150, 10, 64);
}
.container-nav {
    width: 50%;
    margin: 50px;
    background-color: #f8cafc;
}
li > a { 
    text-decoration: none;
    color: #910059;
    padding-left: 5%;
    font-size: 22px;
} 
li {
    list-style-type: none;
}
h1 {
    font-size: 30px;
    color: #440044;
}
.photos {
    margin-left:  15%;
    padding-top: 50px;
}